[submodule "submodules/Criterion"]
	path = submodules/Criterion
	url = https://github.com/Snaipe/Criterion
[submodule "submodules/doxygen-awesome-css.git"]
	path = submodules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
